* {
  font-size: large;
}

body {
  margin-left: 5%;
  background-color: #333;
  color: aliceblue;
}

#Top {
  min-height: 100vh;
}

h1 {
  min-height: 16px;
  color: coral;
  margin-left: 5%;
}

li {
  list-style-type: lower-greek;
}

footer {
  position: absolute;
}

/* copyleft icon */
.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}
