* {
  font-size: large;
}

body {
  margin-left: 5%;
  background-color: rgba(90, 90, 90, 1);
  color: #99d8d0;
}

#zeus {
  min-height: 100vh;
  background-color: rgba(54, 54, 54, 1);
}

#poseidon {
  min-height: 18vh;
}

.btn-desc {
  min-width: 4vw;
}

h1 {
  color: #f09ae9;
}

#hacktiv8_verify {
  min-height: 20vh;
}

#thumbnailVerify {
  width: 20vh;
  min-width: 60px;
}

#thumbnailVerify:hover {
  cursor: pointer;
}

#description {
  background-color: rgba(75, 75, 75, 1);
  min-height: 6vh;
  padding: 1rem 2rem;
}

#bio {
  background-color: rgba(75, 75, 75, 1);
  padding: 1rem 2rem;
}

a  {
  color: #ffbcbc;
}

a:visited {     
  color: #b7efcd;
}

.lead {
  color: rgba(54, 54, 54, 1);
  background-color: #f09ae9;
  text-align: center;
}

.card {
  min-width: 20vw;
  max-width: 80vw;
  background-color: rgba(75, 75, 75, 1);
}

@media (max-width: 900px) {
  .card {
    min-width: 25vw;
    max-width: 80vw;
  }
}

@media (min-width: 2000px) {
  .card {
    min-width: 10vw;
    max-width: 25vw;
  }

  #thumbnailVerify {
    width: 10vh;
    min-width: 60px;
  }
}

footer {
  background-color: rgba(30, 30, 30, 1);
}

/* copyleft icon */
.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}
