* {
  font-size: large;
}

body {
  margin-left: 5%
}

h1 {
  font-size: 10vh;
  min-height: 16px;
  color: coral;
  margin-left: 5%;
}

li {
  list-style-type: lower-greek;
}

/* copyleft icon */
.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}
