* {
  font-size: large;
}

body {
  /* margin-left: 5%; */
  background-color: rgba(90, 90, 90, 1);
  color: #99d8d0;
}

#zeus {
  justify-content: center;
  text-align: center;
  background-color: rgba(54, 54, 54, 1);
}

h1 {
  color: #f09ae9;
}

hr {
  background-color: #f09ae9;
}

a  {
  color: #ffbcbc;
}

a:visited {     
  color: #b7efcd;
}



/* copyleft icon */
.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}
